body{
    background-image: url(../image/0.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-width: 1264px;
    color: #333;
    font-size: 16px;
    background-color: rgb(220, 220, 234);
}

a {
    text-decoration: none;
    color: #333;
}

.w{
    width: 1226px;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear:both;
}


.topbar-wapper{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px rgba(0, 0, 0, .2) solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #c2c9d8;
    z-index: 999;
    
}
.topbar .left,.right li{
    float: left;
}
.left .cmms{
    width: 200px;
    font-size: 20px;
}
.left i{
    color: #0d358d;
    font-size: 28px;
}
.left li{
    float: left;
    color: #0b2983;
    width: 140px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}
.left li:not(:first-of-type):hover {
    background-color: #859fd9;
}
.left li a:active{
    color:#e0d5d3;
}

.topbar .right{
    float: right;
}
.right li{
    letter-spacing: 1px;
}
.right li .portrait{
    margin: 5px 6px;
    height: 40px;
    width: 40px;
    background-image: url(../image/portrait.png);
    background-size: cover;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.right li .portrait:hover{
    transform: translateY(-2px);
}


.stuDetails{
    background-color: #5a7dc7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}
.stuDetails a{
    color:#e0d5d3;
}

.head-wrapper{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #859fd9;
    background-color: rgba(241, 241, 249,.5);
    padding-left: 10%;
    z-index: 888;
}
.head{
    font-size: 20px;
}
.head h1{
    letter-spacing: 3px;
}

.main-wrapper{
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin: 30px auto;
    height: auto;

}
.main{
    padding-top: 10px;
    padding-bottom: 30px;
    height: auto;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
.main .myDetails{
    padding: 10px;
    font-size: 18px;
    width: fit-content;
    border-radius: 3px;
    border: #859fd9 2px dotted;
    background-color: #c2c9d8;
    letter-spacing: 2px;
    margin:20px 3%;
}
table{
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #333;
    border-collapse: collapse;
}
table .first{
    color: #0b2983;
}

td{
    text-align: center;
    padding: 14px 0;
    border: #333 1px solid;
    letter-spacing: 2px;
}
td:hover{
    background-color: #eeeef0;
}